#edit-form > *{
    margin: 1em;
}

#article-authors > ul{
    list-style: none;
    display: flex;
    flex-flow: wrap;
}

#article-authors{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
}

#article-authors > ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
    font-style: italic;
    margin-top: 1em;
}

#comments{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

}

#comment-form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#comment-form > *{
    margin: 0.5em 0;
}
#new-comment{
    width: 100%;
}

#comments > h3{
    margin: 1em 0;
}

.comment{
    margin: 0.5em 0;
    padding: 0.5em;
    border: solid black 1px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.comment > div{
    display: flex;
}

#timestamp{
    margin-left: auto;
}

.comment > p{
    margin: 0.5em 0;
}

.edit-comment-button, .delete-comment-button{
    display: inline-block;
    margin: 1em auto;
}

.pop-up-window{
    padding: 1em;
    position: fixed;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, 0);
    z-index: 10;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    filter: blur(0) !important;
}

.pop-up-window > p{
    margin-bottom: 2em
}

.pop-up-window > form > .button{
    margin: 0 1em;
}

.blur{
    filter: blur(4px);
}
