#login-form{
    margin-top: 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#login-form > *{
    margin: 1em 0;
}

#login-button{
    background-color: deepskyblue;
    padding: 0.5em 1em;
    border-style: none;
    border-radius: 10px;
}
