<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
	<div th:replace="fragments/template :: head"></div>
	<link rel="stylesheet" th:href="@{/css/articleDetails.css}">
	<title>Article</title>
    </head>
    <body>
	<header th:replace="fragments/template :: header"></header>
	<main>
	    <form th:if="${author}" th:action="@{'/delete/article/' + ${article.id}}" id="edit-form">
		<input type="submit" class="button" value="delete">
		<a th:href="@{'/editArticle/' + ${article.id}}" class="link button">edit</a>
	    </form>
	    <h1 th:text="${article.articleName}">Article name</h1>
	    <section id="article-authors">
		<h3>Authers:</h3>
		<ul>
		    <li th:each="author : ${authors} "th:text="${author.userName}"></li>
		</ul>
	    </section>
	    <section id="article-body"><p th:text="${article.articleBody}"></p></section>
	    <section id="comments">
		<h3>Comments</h3>
		<form class="comment" id="comment-form" th:action="@{'/postComment/' + ${article.id}}" method="post" th:object="${newComment}">
		    <h4>Post Your Comment:</h4>
		    <textarea id="new-comment" th:field="*{commentBody}" rows="10"></textarea>
		    <input class="button" type="submit" value="Post Comment">
		    <input type="hidden" th:field=*{id}>
		</form>
		<div th:each="comment : ${comments}" class="comment">
		    <div>
			<span th:text="${comment.user.userName}">Name of commentor</span>
			<span th:text="${comment.createdDate}" id="timestamp">Timestamp</span>
		    </div>
		    <p th:text="${comment.commentBody}">comment</p>
		    <div>
			<a th:if="${comment.user.id == userId}" class="link button" id="edit-button" 
			    th:href="@{'/article/'+ ${article.id} + '/details/edit/comment/' + ${comment.id}}">edit</a>
			<a th:if="${comment.user.id == userId || author}" class="link button" id="delete-button" 
		      th:href="@{'/delete/comment/' + ${comment.id} + '/' + ${article.id}}">delete</a>
		    </div>
		</div>
	    </section>
	</main>
	<footer th:replace="fragments/template :: footer"></footer>
    </body>
</html>
