<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
	<div th:replace="fragments/template :: head"></div>
	<link rel="stylesheet" th:href="@{/css/articleDetails.css}">
	<title>Article</title>
    </head>
    <body>
	<header th:replace="fragments/template :: header"></header>
	<main>
	    <form th:if="${author}" th:action="@{'/delete/article/' + ${article.id}}" id="edit-form">
		<input type="submit" class="button" value="delete">
		<a th:href="@{'/editArticle/' + ${article.id}}" class="link button">edit</a>
	    </form>
	    <h1 th:text="${article.articleName}">Article name</h1>
	    <section id="article-authors">
		<h3>Authers:</h3>
		<ul>
		    <li th:each="author : ${authors} "th:text="${author.userName}"></li>
		</ul>
	    </section>
	    <section id="article-body"><p th:text="${article.articleBody}"></p></section>
	</main>
	<footer th:replace="fragments/template :: footer"></footer>
    </body>
</html>
