<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
	<div th:replace="fragments/template :: head"></div>
	<link rel="stylesheet" th:href="@{/css/articleDetails.css}">
	<title>Article</title>
    </head>
    <body>
	<header th:replace="fragments/template :: header"></header>
	<form th:if="${author}" th:action="@{'/delete/article/' + ${article.id}}" method="post" id="delete-article-form">
	</form>
	<main>
	    <div th:if="${author}" id="edit-form">
		<input id="delete-article" type="button" class="button" value="Delete">
		<a th:href="@{'/editArticle/' + ${article.id}}" class="link button">Edit</a>
	    </div>
	    <h1 th:text="${article.articleName}">Article name</h1>
	    <section id="article-authors">
		<h3>Authers:</h3>
		<ul>
		    <li th:each="author : ${authors} "th:text="${author.userName}"></li>
		</ul>
	    </section>
	    <section id="article-body"><p th:text="${article.articleBody}"></p></section>
	    <section id="comments">
		<h3>Comments</h3>
		<form class="comment" id="comment-form" th:action="@{'/postComment/' + ${article.id}}" method="post" th:object="${newComment}">
		    <h4>Post Your Comment:</h4>
		    <p style="color:red" th:if="${#fields.hasErrors('commentBody')}">Comment can not be empty</p>
		    <textarea id="new-comment" th:field="*{commentBody}" rows="10"></textarea>
		    <input class="button" type="submit" value="Post Comment">
		    <input type="hidden" th:field=*{id}>
		</form>
		<div th:each="comment : ${comments}" class="comment comment-item">
		    <div>
			<span th:text="${comment.user.userName}">Name of commentor</span>
			<span th:text="${comment.createdDate}" id="timestamp">Timestamp</span>
		    </div>
		    <p th:text="${comment.commentBody}">comment</p>
		    <div class="comment-edit-item" th:if="${comment.user.id == userId || author}">
			<a th:if="${comment.user.id == userId}" class="link button edit-comment-button" 
								th:href="@{'/article/'+ ${article.id} + '/details/edit/comment/' + ${comment.id}}">Edit</a>
			<input type="button" th:if="${comment.user.id == userId || author}" class="button delete-comment-button" 
											    th:href="@{'/delete/comment/' + ${comment.id} + '/' + ${article.id}}" value="Delete">
			<form th:if="${comment.user.id == userId || author}" id="delete-comment-form" method="post" th:action="@{'/delete/comment/' + ${comment.id} + '/' + ${article.id}}">
			</form>
		    </div>
		</div>
	    </section>
	</main>
	<script th:src="@{/js/confirmationPopUp.js}"></script>
	<footer th:replace="fragments/template :: footer"></footer>
    </body>
</html>
